# this is a sample of config file. A config file is merely a plain text file with a key ~ value pair in each line.
# in our situation, a config file follow guidelines below:
#	 1. text after '#' mark is regarded as annotation, empty lines will be ignored.
#	 2. field separator is either '\s+' or '=', choose and choose only one within a file,specify the corresponding one in loop2hash(file,sep=XX)
#	 3. wrap string with quotes: '0755-625384' or 'Shenzhen-08732'. leave digital value as it is.
#	 4. Nested Python data structure 'tuple' & 'dictionary' is 'evaled' inside config parser,but don't use '=' as separator inside a dictionary.
#	 5. Chinese key is supported but not recommended.


#--------------- digital constant config
MIN_CONNECT  30   # connect  follow_in + follow_out
MIN_LAST_MSG_INTERVAL  7  # by day
MIN_LASTN_MSG_INTERVAL  15  # by day
MIN_FOLLOW_RATIO  0.3
MIN_POST_ENTROPY  0.2  # check if geren or not. geren's post have high entropy.
LIMIT_RECORD 100

#--------------- database config
DB_USER 'asenal'
DB_HOST 'localhost'
DB_PORT '5432'
DB_NAME 'xiaoxiao'

#------------- tuple test
MYTUPLE (1,2,'a','b')
#------------- hash test
MY_HASH {'name':'yuqiulin','age':25,'gender':'M'}
